$menu-width: 150px;
$log-height: 60px;
$border-color: #ddd;
$menu-background-color: #fcfcfc;

$border-color: #ddd;
$node-border-width: 1px;
$node-border-width-selected: 2px;

$node-background-color: #fafafa;
$node-background-hover-color: #fcfcfc;
$node-border-color: #ccc;
$node-border-color-active: #7d7d7d;

$node-header-color: #f7f7f7;
$node-header-hover-color: #f9f9f9;

$path-color: #ccc;

$input-color: #e22;
$input-border-color: #f55;

$output-color: #2e2;
$output-border-color: #5f5;

$endpoint-border-radius: 1px;

$border-radius-expanded: 6px;
$border-radius-collapsed: 15px;

$icon-color: #999;

$collapse-animation-duration: 0.4s;
$node-transitions: border-radius $collapse-animation-duration;

body {
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.editor-root {
  display: grid;
  grid-template-columns: 200px 1fr 500px;
  grid-template-rows: 50px 1fr 140px;
  height: 100vh;
  user-select: none;
}

.flow-menu {
  position: absolute;
  left: 15px;
  top: 17px;
}

.flow-info {
  background-color: $menu-background-color;
  border-right: 1px solid $border-color;
  padding: 10px;
  z-index: 2;
  overflow: scroll;
  grid-area: 2 / 1 / 4 / 2;
}

.react-editor-container {
  grid-area: 2 / 2 / 4 / 4;
}

.selection-zone {
  border: 1px solid $border-color;
  background: $menu-background-color;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

.header {
  height: 50px;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  border-bottom: 1px solid $border-color;
  grid-area: 1 / 1 / 2 / 4;
  z-index: 1;
}

.button {
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 6px;
  background: $menu-background-color;
  cursor: pointer;
  margin-bottom: 8px;
}

.tips {
  border: 1px solid $border-color;
  border-width: 1px 0 0 1px;
  background: $menu-background-color;
  grid-area: 3 / 3 / 4 / 4;
  z-index: 1;
  border-radius: 6px 0 0 0;
  line-height: 9px;
  margin: 0;
  font-size: 12px;
}

.nodeElement {
  display: inline-block;
  background-color: $node-background-color;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: $border-radius-expanded;
  border: $node-border-width solid $node-border-color;
  box-sizing: content-box;
  z-index: 1;
  width: 150px;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;

  transition: $node-transitions;

  &.selected,
  &:hover {
    border-color: $node-border-color-active;
    z-index: 3;
  }

  &.disabled {
    opacity: 0.5;
    border: $node-border-width solid $node-border-color;
  }
}

.dot {
  position: absolute;
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  cursor: pointer;

  & > div {
    width: 10px;
    height: 10px;
    background: $node-background-color;
    border-radius: 50%;
    border: 1px solid $node-border-color;

    &.outlined {
      background: $node-background-color;
    }

    &.active {
      background: $node-border-color-active;
    }

    &.outlined,
    &.selected,
    &.active {
      border: 2px solid $node-border-color-active;
    }

    &.disabled {
      border: 1px solid $node-border-color;
    }
  }
}

.scale {
  position: fixed;
  right: 15px;
  top: 70px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 21px;
}

.scale-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 4px;
}

.connectors-behaviour {
  position: fixed;
  left: 215px;
  bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fcfcfc;
  cursor: pointer;
  display: flex;
  z-index: 1;

  & > div {
    padding: 10px;

    &.active {
      background: #ddd;
    }
  }
}
